:root {
    --azul-escuro: #051d3b;
    --azul: #5081FB;
    --azul-claro: #7BA4FC;
    --azul-mais-claro: #96B9FD;
    --branco: #ffffff
}

body {
    height: 100vh;
    background-color: var(--azul-escuro);
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 90%;
    row-gap: 32px;
    padding: 0px 32px;
}

body * {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--branco);
}

header {
    grid-column: 1 / 4;
    grid-row: 1;
    display: grid;
    grid-template-columns: inherit;
}

header * {
    align-self: center;
}

.txt-titulo {

}

.search-box {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    height: 56px;
    padding: 12px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.16);
    border: none;
    box-sizing: border-box;
    opacity: 0.64;
}

.content {
    height: 100%;
    width: 100%;
    background-color: red;
    grid-column: 2 / 3;
    grid-row: 2;
}

header > img {
    align-self: center;
}

.profile-section {
    grid-column: 3;
    grid-row: 1;

    display: flex;
    justify-content: flex-end;
}

.profile-picture img {
    height: 20px;
}

.profile-picture {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 50%;
    margin: 8px;

    background-image: url('assets/profile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}