:root {
    --azul-escuro: #051d3b;
    --azul: #5081FB;
    --azul-claro: #7BA4FC;
    --azul-mais-claro: #96B9FD;
    --branco: #ffffff
}

body {
    height: 100vh;
    background-color: var(--azul-escuro);
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 10% 90%;
    row-gap: 2rem;
    padding: 0 2rem;
}

body * {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--branco);
}

.txt-titulo {
    font-weight: 700;
    font-size: 1.25rem;
}

.txt-sidebar {
    font-weight: 400;
    font-size: 0.75rem;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

header {
    grid-column: 1 / 4;
    grid-row: 1;
    display: grid;
    grid-template-columns: inherit;
}

header * {
    align-self: center;
}

.search {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    height: 3.2rem;
    padding: 1.2rem;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.16);
    border: none;
    box-sizing: border-box;
}

input, select, option {
    width: 100%;
    height: 3.2rem;
    padding: 1.2rem;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.16);
    color: rgba(255, 255, 255, 0.64);
    border: none;
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
}

select {
    padding: 0 1.2rem;
    margin-right: 2rem;
}

input:focus, select:focus {
    background-color: rgba(255, 255, 255, 0.24);
    outline: none;
}

header > img {
    align-self: center;
}

.profile-section {
    grid-column: 3;
    grid-row: 1;
    
    display: flex;
    justify-content: flex-end;
}

.profile-picture img {
    height: 1.5rem;
}

.profile-picture {
    display: inline-block;
    position: relative;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    border-radius: 50%;
    margin: 0.5rem;
    
    background-image: url('assets/profile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.sidebar__button {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 1rem;
}

.sidebar__button-icon {
    display: flex;
    padding: 1rem;
    background-color: #5081fb29;
    border-radius: 8px;
}

.sidebar__button-text {
    width: 100%;
    padding: 1rem;
    opacity: 0.56;
}

.sidebar__button.active .sidebar__button-icon {
    background-color: var(--azul);
}

.sidebar__button.active .sidebar__button-text {
    opacity: 1;
}

.project-background {
    height: 100%;
    width: 100%;
    background-color: grey;
}

.project-info {
    grid-column: 3;
    grid-row: 2;
    margin: 2rem 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}